.rcw-conversation-container>.rcw-header {
    background-color: #0F4C81 !important;
}

.rcw-message>.rcw-response {
    background-color: white
}

.rcw-launcher {
    background-color: #0F4C81 !important;
}